{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="form-group">
            <textarea class="form-control" rows="2" placeholder="Task" name="task" id="task"></textarea>
        </div>


         <div class="form-group">
         <label for="priority">Select Priority:</label>
             <select class="form-control" name="priority" id="priority">
                <option>Low</option>
                <option>Intermediate</option>
                <option>High</option>
                <option>Critical</option>
             </select>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="time" placeholder="Time" type="datetime-local"/>
        </div>

        <button class="btn btn-primary" href="/add" type="submit">Add Task</button>
    </form>
{% if message %}
    <script>
        alert("{{ message }}");
    </script>
{% endif %}
{% endblock %}