{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <a>
        <button class="btn btn-link" onclick="location.href = '/login'" style="height:450px; width:450px; margin-left: -75px; font-size: 75px"><font color="black">Login</font></button>
    </a>
    <a>
        <button class="btn btn-link"  onclick="location.href = '/register'" style="height:450px; width:450px;margin-right: -75px;font-size: 75px"><font color="black">Register</font></button>
    </a>
{% endblock %}
